Repository apache/pulsar-client-python, pull requests merged in 2022-10, with the labels that each got.

#15 Support auth param string for Basic authentication
  pulsar/__init__.py
  src/authentication.cc
  tests/pulsar_test.py
Labels: enhancement

#16 Enhance developer experience for debugging tests and add related README
  README.md
  build-support/start-test-service-inside-container.sh
  tests/pulsar_test.py
Labels: documentation

#17 Fixed missed version of zlib
  dependencies.yaml
  pkg/mac/build-dependencies.sh
Labels: build

#18 Enable building Mac universal2 wheels for Python 3.7
  .github/workflows/ci-build-release-wheels.yaml
  pkg/mac/build-dependencies.sh
  pkg/mac/build-mac-wheels.sh
  pkg/mac/python-3.7.patch
Labels: build

#25 Fetch C++ client official release
  build-support/install-cpp-client.sh
  pkg/mac/build-pulsar-cpp.sh
Labels: build
